

<head>
<meta http-equiv="refresh" content="8">

</head>
<!-- HEADING -->

<div class="jumbotron row">
  <div class="col-sm-12">
    <div class="container">
      <audio src="/audio/new_level_one.wav" autoplay="autoplay"></audio>


      <div class="row"

          <h1 style="font-size: 50px" class="level-header">Level One</h1>
        </div>
      </div>
    </div>
  </div>


<!-- TAMA IMAGE, ETC -->
<div class="container">

<!-- PROGRESS BARS FOR TASK LEVELS - IN PANEL DIV -->
<div class="row">
<div class="col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Current Levels</h4>
    </div>
    <div class="panel-body">

  <!--  change to style="width: tequila_level , for example, in order to display levels of each required task (food, play, etc.) in status bar. -->


    <div class= "col-sm-8">
      <span class="text-muted"><span class="glyphicon glyphicon-cutlery"></span>  Food</span>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @tama.food_level %>%">
          <span class="sr-only">Food</span>
        </div>
      </div>
    </div>

      <form action='/feed/<%= @tama.id %>/<%= @tama.level_id %>' method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="tama_id" value= "<%= @tama.id %>">

        <div class="col-sm-4">
        <button type="submit" class="update-btn btn btn-success">Feed</button>
      </div>
    </form>


      <div class="col-sm-8">
        <span class="text-muted"><span class="glyphicon glyphicon-bed"></span>  Sleep </span>
        <br>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= @tama.sleep_level %>%">
          <span class="sr-only">Tequila </span>
        </div>
      </div>
    </div>

      <form action='/sleep/<%= @tama.id %>/<%= @tama.level_id %>' method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="tama_id" value= "<%= @tama.id %>">
        <div class="col-sm-4">
        <button type="submit" class="update-btn btn btn-info">Nap </button>
      </div>
    </form>


      <div class="col-sm-8">
        <span class="text-muted"><span class="glyphicon glyphicon-glass"></span>  Tequila </span>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @tama.drink_level %>%">
            <span class="sr-only">Other </span>
          </div>
        </div>
      </div>

      <form action='/drink/<%= @tama.id %>/<%= @tama.level_id %>' method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="tama_id" value= "<%= @tama.id %>">
        <div class="col-sm-4">
          <button type="submit" class="update-btn btn btn-warning">Take Shots </button>
      </div>
  </form>


      <div class="col-sm-8">
        <span class="text-muted"> <span class="glyphicon glyphicon-send"></span>  Play </span>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%= @tama.activity_level %>%">
          <span class="sr-only">80% Complete (danger)</span>
        </div>
      </div>
    </div>

      <form action='/activity/<%= @tama.id %>/<%= @tama.level_id %>' method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="tama_id" value= "<%= @tama.id %>">
<div class="col-sm-4">
        <button type="submit" class="update-btn btn btn-danger">Exercise</button>
    </div>
    </form>

    </div>
  </div>
</div>

<div class="col-sm-4">
<div style="display: inline-block" class="tama-vid panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> <%= @tama.name %>   &nbsp Score:<%= @@score %> </h3>
  </div>
  <div class="panel-body">
    <img class="baby-tama" src="http://www.vtweb.com/backroom/tamagotchi/baby.gif">
  </div>
</div>
</div>
</div>
</div>

<div class="container">
  <h1 class="text-center">Challenge 1</h1>

  <p class="question1">Some Kids are Being Punks on the Playground. Share a Sandwich or Be A Punk?</p>
  <img scr="PUNK KIDS">

<div class="row question">
  <div class="col-sm-6">
  <form action="/question_one" method="post">
    <input type="hidden" id="tama_id" name="tama_id" value= <%= @tama.id %>>
    <input type="hidden" id="level_one" name="level_one" value="-1*<%=@@score %>">
    <input type="image" class ="choice hvr-pulse" name="submit" src="/img/bully.gif" border="0" alt="Submit">
  </form>
</div>
<div class="col-sm-6">
  <form action="/question_one" method="post">
    <input type="hidden" id="level_one" name="level_one" value=100>
    <input type="hidden" id="tama_id" name="tama_id" value= <%= @tama.id %>>
    <input type="image" class ="choice hvr-pulse" name="submit" src="/img/sandwich.jpg" border="0" alt="Submit">
  </form>
</div>
</div>
</div>
