<!-- HEADING -->

  <div class="jumbotron">
    <div class="container">
    <h1>Level One</h1>
    <h2 class="lead"><%= @tama.name %> is level one with a total score of <%= @@score %></h2>
  </div>
</div>

<!-- TAMA IMAGE, ETC -->


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">TAMA NAME </h3>
    </div>
    <div class="panel-body">
      <span class="glyphicon glyphicon-user"></span>
    </div>
  </div>


<!-- TOTAL SCORE - STACKED PROGRESS BAR - IN PANEL DISPLAY DIV -->


  <div class="panel panel-default">
    <div class="panel-heading">@tama.name  -  @tama.level  -  @tama.score</div>
    <div class="panel-body">


      <div class="progress">
    <div class="progress-bar progress-bar-success" style="width:">
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
      <span class="sr-only">20% Complete (warning)</span>
    </div>
    <div class="progress-bar progress-bar-danger" style="width: 10%">
      <span class="sr-only">10% Complete (danger)</span>
    </div>
  </div>


    </div>
  </div>


<!-- PROGRESS BARS FOR TASK LEVELS - IN PANEL DIV -->


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current Levels</h3>
    </div>
    <div class="panel-body">

  <!--  change to style="width: <%= @@tequila_level %>%", for example, in order to display levels of each required task (food, play, etc.) in status bar. -->

      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">Food <span class="glyphicon glyphicon-apple"></span></span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
          <span class="sr-only">Tequila <span class="glyphicon glyphicon-filter"></span></span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
          <span class="sr-only">Other </span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80% Complete (danger)</span>
        </div>
      </div>


    </div>
  </div>

  <h1>Decision Time</h1>

  <p class="question1">Some Kids are Being Punks on Playground</p>
  <img scr="PUNK KIDS">

  <form action="bully" method="post">
    <input type="hidden" id="level_one" name="level_one" value=(-1*<%= @@score %>)>
    <input type="image" name="submit" src="../public/img/bully.gif" border="0" alt="Submit">
  </form>

  <form action="sandwich" method="post">
    <input type="hidden" id="level_one" name="level_one" value=100>
    <input type="image" name="submit" src="../public/img/sandwich.jpg" border="0" alt="Submit">
  </form>


  <p class="question1">Some Kids are Being Punks on Playground</p>
  <img scr="PUNK KIDS">

  <form action="/first/question" method="post">
    <label for="level_one">What are you going to do?</label>
    <select name="level_one" id="level_one" type="text">
      <option value = 100>Share a Sandwich</option>
      <option value = (-1*<%= @@score %>)>Be A Punk Too</option>
    </select>
  </form>

  <p class="question2">Congrats, You Just Graduated High School</p>
  <img scr="GRADUATION">
  <form action="/second/question" method="post">
    <label for="level_one">What are you going to do?</label>
    <select name="level_two" id="level_two" type="text">
      <option value = 100>Become a Jugalo/</option>
      <option value = (-1*<%= @@score %>)>Business School at Harvard!</option>
      <option value = (-1*<%= @@score %>)>Be A Punk Too</option>
    </select>
  </form>


  <p class="question1">Some Kids are Being Punks on Playground</p>
  <img scr="PUNK KIDS">

  <form action="bully" method="post">
    <input type="hidden" id="level_one" name="level_one" value=100>
    <input type="image" name="submit" src="../public/img/bully.gif" border="0" alt="Submit">
  </form>
